// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$ming: #237480;
$powder-blue: #b5d6d6;
$celeste: #9cf6f6;
$gainsboro: #e6e6ea;
$light-coral: #ff7070;
$sizzling-sunrise: #ffda1f;
