// Specific CSS for your home-page
.container-main {
  padding: 20px;
}
.inner-container h1 {
  font-size: 8.5rem;
  font-weight: 600;
  letter-spacing: 5px;
}

.categories {
  justify-content: center;
}

.btn-lg {
  margin-left: 270px;
}

.logo {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

  -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out;
    -moz-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
}

.logo:hover {
  animation: bounce 8s infinite;
}

.animated-logo {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

@-webkit-keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}
.divider {
  background-image: white;
  display: flex;
  margin-top: 5px;
  margin-bottom: 3px;
  justify-content: center;
}


// .container {
//   width: 60vw;
// }
.car-col {
  margin: 0 auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.carousel-item {
  color: black;
  height: 400px;
  bottom: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.carousel-caption {
  color: #237480;
}
.carousel-heading {
  margin-bottom: 30px;
}

.carousel-caption > p {
  margin-bottom: 2rem;
}

.carousel-heading {
  margin-bottom: 1rem;
}
.btn {
  margin-left: 0;
  width: 100px;
  border-radius: 5px;
}

.carousel-img {
  width: 100%;
  object-fit: contain;
}

.carousel-indicators {
   left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    position: absolute;
}

.card-deck {
  padding: 20px;
  margin-bottom: 20px;
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 20px;
}

.card:hover {
  width: 100%;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform .5s ease;
}

.card:hover .card-img {
  transform: scale(1.5);
}

.card-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform .2s;
}

.card-img-overlay:hover {
  opacity: 1;
  transform: scale(1.5);
}

.category-card-title {
  font-size: 2em;
  font-weight: bold;
  color: white;
  font-family: "Helvetica";
  border-bottom: 1px;
}

a:link {
  text-decoration: none;
}

.category-text {
  font-size: 1.25em;
  margin-top: 0;
  color: white;
}

.card-product {
  font-size: 10px;
}

.category-cards {
  width: 90vw;
  margin: 0 auto;
}

// .card-image:hover {
//   transform: scale(1.5);
// }

// .card-columns {
//   margin-left: 20px;
//   margin-right: 20px;
//   padding: 40px;
// }



// .card:hover .overlayFade .image__title {
//   opacity: 1;
//   transition: all .3s ease;
// }

// .overlayFade {
//   background: rgba(0, 0, 0, 0.6);
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
// }

// .card:hover .overlayFade{
//   width: 100%;
//   transform: scale(1.5);
// }


// .image__title {
//   position: absolute;
//   color: white;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   font-size: 20px;
//   opacity: 0;
// }

.s2 {
  background-color: white;
}

.descriptive-boxes {
  display: flex;
  justify-content: space-around;
}

.descriptive-box {
  padding: 8px;
  border-radius: 20px;
  border-width: 10px;
  width: 320px;
  text-align: center;
  margin: auto;
  font-size: 28px;
}

.h4 {
  margin-top: 6px;
}

.h2 {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  visibility: hidden;
}

.h2:hover {
  visibility:visible;
}

.s3 {
  text-align: center;
}

// .categories {
//   display: flex;
//   justify-content: center;
//   margin-top: 30px;
// }

.category {
  margin: 0 30px;
  font-size: normal;
}

.fillwidth {
  border-radius: 50%;
}

.s4 {
  background: white;
}

.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  width: 60%;
  font-size: 14px;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin-left: 250px;
  color: #4F4F5F;
  font-size: normal;
  font-family: "Helvetica";
  text-transform: uppercase;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%, 8.3% { opacity: 0; }
  8.3%,25% { opacity: 1; }
  33.33%, 100% { opacity: 0; }

}

@keyframes anim-2 {
  0%, 33.33% { opacity: 0; }
  41.63%, 58.29% {  opacity: 1; }
  66.66%, 100% { opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { opacity: 0; }
  74.96%, 91.62% { opacity: 1; }
  100% {  opacity: 0; }
}

/** For mobile devices **/
// @media (max-width: 767px) {
//   .custom-shape-divider-bottom-1598385432 svg {
//     width: calc(183% + 1.3px);
//     height: 187px;
//   }
// }
