.quantity {
  display: flex;
  padding-top: 5px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 40px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus,

input:focus {
  outline:0;
}

.fa-plus, .fa-minus {
  color: gray;
  font-size: 12px;
}

