.input {
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 30px;
  background-color: #f8f9fa;
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin-top: 6px;
  border: none;

  &:focus {
    outline: none;
  }
}

.exp {
  width: 26px;
  margin-left: 7px;
  margin-top: 13px;
  position: absolute;
  cursor: pointer;
}

// .keyword {
//   border-radius: 30px;
//   border-color: #84BBBB;
//   color: black;
//   cursor: pointer;
//   font-size: 20px;
//   margin-top: 6px;
// }

// .nor {
//   cursor: pointer;
//   position: absolute;
// }
