input {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background-color: blue;
  color: black;
  cursor: pointer;
  font-size: 20px;

  &:focus {
    outline: none;
  }
}

.search-btn {
  width: 22px;
  margin: 11px 0 0 11px;
  position: absolute;
  cursor: pointer;
}
