.input {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 30px;
  border-color: #84BBBB;
  color: black;
  cursor: pointer;
  font-size: 20px;

  &:focus {
    outline: none;
  }
}

.search-btn {
  width: 28px;
  margin: 11px 0 0 11px;
  position: absolute;
  cursor: pointer;
}
