.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  background: #f4f4f4;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
