.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 55px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.fa-shopping-cart {
  font-size: 20px;
  padding: 8px 16px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 16px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 16px;
  background: #ff0000;
  color: #fff;
  padding: 5px 10px;
  vertical-align: top;
  margin-left: -32px;
  margin-top: -8px;
}
