<% if user_signed_in? %>
  <div class="like-icon mx-2 <%= 'red' if current_user.favorited?(product) %>" data-id="<%= product.id %>">
    <i class="fas fa-heart" style="font-size: 20px;"></i>
  </div>
<% end %>
