<div class="container">
  <%= form_tag products_path, method: :get do %>
    <div class="input-group mb-3 mr-3">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search...",
        aria: { label: "search", describedby: "basic-addon1" }
      %>
      <div class="input-group-prepend">
        <span class="input-group-text p-0 pr-1 pl-1" id="basic-addon1">
          <%= button_tag type: "submit", name: "", class: "search-icon" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
