
  <div class="container-section-one text-center">
    <div class="float-right home-title mt-4 ml-4 mr-1 p-1">
      <%= image_tag("bbtext.png", width: "45%") %>
      <p class="tagline mt-2">Swap & shop for baby items locally</p>
    </div>

    <div class="card mt-3 ml-3" style="width: 18rem;">
      <img class="card-img-top m-3" src="https://xcdn.next.co.uk/Common/Items/Default/Default/ItemImages/AltItemShot/315x472/526312s.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">5-10 month orange sleepsuit</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="distance"> 0.5 km </h6>
      </div>
    </div>
      <p><%= link_to 'Click here for all items', products_path, class: "btn btn-green btn-lg" %></p>
  </div>

   <div class="custom-shape-divider-bottom-1598385432">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
</div>


