<div class="container my-3 min-vh-100">
  <div class="row">
    <div class="col">
        <div class="reviews">
          <h1 class="mb-5 text-center">All reviews for <%= @user.nickname %></h1>
          <% @user.reviews.each do |review| %>
            <div class="cards d-flex flex-wrap position-relative text-center ml-1">
              <div class="card-item">
                <div class="card border-rounded mx-3 mb-4" style="width: 30rem; height: auto;">
                  <div class="card-body">
                      <h6><%= review.comment %></h6>
                      <h6>Rating: <%= review.rating %></h6>
                      <div class="ratings">
                        <% review.rating.times do  %>
                          <span><i class="fas fa-star"></i></span>
                        <% end %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <%= link_to "Back", request.referer.present? ? request.referer : default_path, class: "btn btn-success text-white" %>
    </div>
  </div>
</div>
